<h1>Advanced search</h1>

<div class="advanced-search-content">

  <form>
    <input id="advs-all" type="hidden" name="all" checked />

    <div style="display:flex; flex-direction: row;">
      <fieldset>
        <legend>Radicals</legend>

        <input id="advs-radical" type="checkbox" name="radical" />
        <label for="advs-radical">Any</label><br/>
        <input id="advs-peroxy" type="checkbox" name="peroxy" />
        <label for="advs-peroxy">Peroxy</label><br/>
      </fieldset>
    </div>

    <br/>
    <input id="advs-submit" type="submit" value="Search" onclick="document.querySelector('#loading').style.display = 'block';" />
  </form>

  <div id="loading" style="display:none; margin:auto; width:5%; text-align:center;">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <p>Loading...</p>
  </div>

  <div id="results">
    <% unless @species.nil? %>
      <hr />

      <p><%= @species.count %> results found</p>

      <ul style="list-style: none;">
      <% @species.each do |species| %>
        <li><a href="/<%= params[:mechanism] %>/species/<%= species[:Name] %>">
          <div class="py-2 d-flex">
            <div>
              <div class="mb-1">
                <span class="h4">
                  <%= species[:Name] %>
                </span>
              </div>
              <div class="description">
                Smiles: <%= species[:Smiles] %>
                <br>
                Inchi: <%= species[:Inchi] %>
              </div>
            </div>
          </div>
        </a></li>
      <% end %>
      </ul>
    <% end %>
  </div>

</div>
