<style>
  input[type=number] {
    width: 90px;
  }
</style>

<h1>Advanced search</h1>

<div class="advanced-search-content">

  <form>
    <input id="advs-all" type="hidden" name="all" checked />

    <div style="display:flex; flex-direction: row;">
      <fieldset>
        <legend>Radicals</legend>

        <input id="advs-radical" type="checkbox" name="radical" <%= params.include?("radical") ? "checked" : "" %> />
        <label for="advs-radical">Any</label><br/>
        <input id="advs-peroxy" type="checkbox" name="peroxy" <%= params.include?("peroxy") ? "checked" : "" %> />
        <label for="advs-peroxy">Peroxy</label><br/>
      </fieldset>

      <fieldset>
        <legend>Elements</legend>

        <input id="advs-elem-c" name="elemc" type="number" min="0" value="<%= params[:elemc] %>" />
        <label for="advs-elem-c">Carbon (C)</label><br/>
        <input id="advs-elem-cl" name="elemcl" type="number" min="0" value="<%= params[:elemcl] %>" />
        <label for="advs-elem-cl">Chlorine (Cl)</label><br/>
        <input id="advs-elem-o" name="elemo" type="number" min="0" value="<%= params[:elemo] %>" />
        <label for="advs-elem-o">Oxygen (O)</label><br/>
        <input id="advs-elem-h" name="elemh" type="number" min="0" value="<%= params[:elemh] %>" />
        <label for="advs-elem-h">Hydrogen (H)</label><br/>
        <input id="advs-elem-n" name="elemn" type="number" min="0" value="<%= params[:elemn] %>" />
        <label for="advs-elem-n">Nitrogen (N)</label><br/>
      </fieldset>

      <fieldset>
        <legend>Properties</legend>

        <input id="advs-amw" name="amw" type="number" min="0" step="0.001" value="<%= params[:amw] %>" />
        <label for="advs-amw">Mass</label><br/>
      </fieldset>
    </div>

    <br/>
    <input id="advs-submit" type="submit" value="Search" onclick="document.querySelector('#loading').style.display = 'block';" />
  </form>

  <div id="loading" style="display:none; margin:auto; width:5%; text-align:center;">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <p>Loading...</p>
  </div>

  <% unless @species.nil? %>
    <hr />

    <p><%= @species.count %> results found</p>

    <div id="results" style="max-height:60vh; overflow-y: scroll;">
        <ul style="list-style: none;">
        <% @species.each do |species| %>
          <li><a href="/<%= params[:mechanism] %>/species/<%= species[:Name] %>">
            <div class="py-2 d-flex">
              <div>
                <div class="mb-1">
                  <span class="h4">
                    <%= species[:Name] %>
                  </span>
                </div>
                <div class="description">
                  Smiles: <%= species[:Smiles] %>
                  <br>
                  Inchi: <%= species[:Inchi] %>
                </div>
              </div>
            </div>
          </a></li>
        <% end %>
        </ul>
    </div>
  <% end %>

</div>
