<h1>Browse the mechanism</h1>

<br>
<br>

<h2>Inorganic Chemistry</h2>
<ul>
<% @inorganic_categories.each do | cat | %>
  <li>
    <a href="/inorganic?category=<%= cat %>">
      <%= cat %>
    </a>
  </li>
<% end %>
</ul>

<br>
<br>

<h2>Select a primary VOC</h2>
<ul class="nav nav-tabs" id="browse-tab" role="tablist">
  <% @categories.each_with_index do |(category, values), index| %>
  <li class="nav-item" role="presentation">
    <button class="nav-link<%= index == 0 ? ' active' : ''%>" id="<%= remove_spaces(category) %>-tab" data-bs-toggle="tab" data-bs-target="#<%= remove_spaces(category) %>-tab-pane" type="button" role="tab" aria-controls="<%= remove_spaces(category) %>-tab-pane" aria-selected=<%= index == 0 ? 'true' : 'false' %>><%= category %></button>
  </li>
  <% end %>
</ul>


<div class="tab-content" id="browse-tab-content">
  <% @categories.each_with_index do |(category, values), index| %>
  <div class="tab-pane fade<%= index == 0 ? ' show active' : '' %>" id="<%= remove_spaces(category) %>-tab-pane" role="tabpanel" aria-labelledby="<%= remove_spaces(category) %>-tab" tabindex="0">
    <div class="species-list">
      <% values.each do |species| %>
          <div class="marklist-item">
            <button class="btn btn-success btn-sm btn-marklist" onclick="addToMarklist('<%= species[0] %>')">
              +
            </button>
            <a href='/species/<%= species[0]%>'>
              <%= species[1] %>
            </a>
          </div>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
