<h1><%= @mechanism_details[:MechanismLong] %> (v<%= @mechanism_details[:CurrentVersion] %>)</h1>

<div class="logo-row">
<% @institutions.each do | institution | %>
    <div>
      <a href="<%= institution[:url] %>">
      <img src="<%= institution[:logo] %>" alt="<%= institution[:alt] %>">
      </a>
    </div>
<% end %>
</div>

<h2>Mechanism</h2>
<%== @content %>

<h2>Using the website</h2>
<p>
The <%= @mechanism_details[:Mechanism] %> mechanism contains <%= @n_reactions %> reactions comprising <%= @n_species %> different species. 
These can be explored by either starting at a primary emitted VOC in the <a href="browse">Browse</a> page, or directly typing a species name (or other identifier such as SMILES or InChI) into the search bar.
</p>

<p>
Subsets of the mechanism can be exported to download for offline browsing or use in kinetic modelling software (currently only <a href="https://cds.cern.ch/record/118714/files/CM-P00068079.pdf">FACSIMILE</a> is supported, although KPP will be added in an upcoming release).
This is done by adding emittents of interest to the <em>marklist</em> using the green plus buttons found throughout the website and then navigating to the <a href="export">export</a> page.
</p>

<p>
Further details about the mechanism, including its development history, how to cite it, acknowledgement of funders and contributors, and a full archive of previous versions, can be found under the <strong>About</strong> heading in the navigation bar.
There are alternative mechanisms that can be browsed in the same way by changing the mechanism from the <strong>Select Mechanism</strong> dropdown option in the navigation menu.
</p>

<h2>Contact</h2>
For any scientific questions about the mechanisms, please contact <a href="mailto:andrew.rickard@york.ac.uk">Andrew Rickard</a>.
For any technical issues regarding the website itself, please open an issue on our GitHub repository: <a href="https://github.com/wacl-york/mcm-web">https://github.com/wacl-york/mcm-web</a>.

