<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>MCM</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= web_library 'css/bootstrap.css' %>" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="<%= web_library 'js/bootstrap.js' %>"></script>

    <!-- Font Awesome -->
    <script src="<%= web_library 'js/fontawesome.js' %>"></script>

    <!-- flatpickr -->
    <script src="<%= web_library 'js/flatpickr.js' %>"></script>
    <script src="<%= web_library 'js/flatpickr-helper.js' %>"></script>
    <link href="<%= web_library 'css/flatpickr.css' %>" rel="stylesheet">

    <!-- luxon -->
    <script src="<%= web_library 'js/luxon.js' %>"></script>
    <script>
        luxon.Settings.defaultLocale = "en-GB";
    </script>

    <!-- tomselect TODO should these be in web_library? -->
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>

    <!-- MathJax with mhchem extension -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
      window.MathJax = {
        loader: {load: ['[tex]/mhchem']},
        tex: {packages: {'[+]': ['mhchem']}}
      };
    </script>

    <!-- custom CSS TODO should this be in web_library? -->
    <link href="/stylesheets/app.css" rel="stylesheet">

    <!-- custom scripts -->
    <!-- TODO should automatically populate by iterating through scripts in this dir -->
    <script src="/scripts/marklist.js"></script>
    <script src="/scripts/pagination.js"></script>
    <script src="/scripts/mechanism_redirect.js"></script>

  </head>

  <body onload="refreshMarklist()">

    <header id="topNav">
      <%== erb :navbar %>
    </header>

    <main role="main" class="container" id="main">
          <%== yield %>
    </main>

    <div>
      <%== erb :marklist %>
    </div>

  </body>

  <!-- in page script -->
  <%== yield_content :javascript_footer %>
</html>
