
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">MCM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link <%= 'active' if current_url? '/' %>" aria-current="page"
             href="<%= rel '/' %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if current_url? '/browse' %>" aria-current="page"
             href="<%= rel '/browse' %>">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if current_url? '/search' %>" aria-current="page"
             href="<%= rel '/search' %>">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if current_url? '/export' %>" aria-current="page"
             href="<%= rel '/export' %>">Export</a>
        </li>
      </ul>
    </div>
    <select class="form-inline search-bar" id="tom-select-search" placeholder="Start typing a species formula or name...">
    </select>
    <div>
      <a class="openbtn" onclick="openNav()" role="button" aria-controls="sidebar">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" class="bi bi-basket" viewBox="0 0 16 16">
        <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
      </svg>
      <span id="marklist-count" class="position-absolute top-1 start-1 translate-middle badge rounded-pill bg-danger">
      </span>
      </a>
  </div>
  </div>
</nav>
<script>
  var settings = {
    maxItems: 1,
    maxOptions: 50,
    loadThrottle: 500,
    closeAfterSelect: true,
    valueField: 'Species',
    searchField: ['Species', 'Synonyms', 'Smiles', 'Inchi'],
    sortField: [{field: 'score', direction: 'desc'}, {field: '$score'}],
    options: [],
    create: false,
    load: function(query, callback) {
      // Clear previously found results, otherwise they will be kept at the top regardless of their match
      this.clearOptions();
      var url = "/search-synonym?q=" + encodeURIComponent(query);
      fetch(url)
        .then(response => response.json())
        .then(json => {
          callback(json);
        }).catch(() => {
          callback();
        });
    },
    render: {
      option: function(item, escape) {
          return `<div class="py-2 d-flex">
                      <div class="icon me-3">
                          <img class="img-fluid" src="/species_images/${ escape(item.Species) }.png" />
                      </div>
                      <div>
                          <div class="mb-1">
                              <span class="h4">
                                  ${ escape(item.Species) }
                              </span>
                          </div>
                          <div class="description">
                              ${ escape(item.Synonyms) }
                              <br>
                              Smiles: ${ escape(item.Smiles) }
                              <br>
                              Inchi: ${ escape(item.Inchi) }
                          </div>
                      </div>
                  </div>`;
      },
      item: function(item, escape) {
          return `<div class="py-2 d-flex">
                      <div class="icon me-3">
                          <img class="img-fluid" src="/species_images/${ escape(item.Species) }.png" />
                      </div>
                      <div>
                          <div class="mb-1">
                              <span class="h4">
                                  ${ escape(item.Species) }
                              </span>
                          </div>
                          <div class="description">
                              ${ escape(item.Synonyms) }
                              <br>
                              Smiles: ${ escape(item.Smiles) }
                              <br>
                              Inchi: ${ escape(item.Inchi) }
                          </div>
                      </div>
                  </div>`;
      }
    },
    onItemAdd: function(value, item) {
      window.location.href = "/species/" + value;
    }
  };
new TomSelect('#tom-select-search', settings);
</script>
