<h2>Photolysis Parameters</h2>


<h3>Parameters</h3>
<div class="row justify-content-center">
  <div class="col-8">
    <table class="table table-striped table-hover caption-top rate-table table-bordered">
      <caption>List of the l, m, and n values for different photolysis rates in the format \( J = l \cos(X)^{m} \exp(-n \sec(X)) \), where solar zenith angle X is in radians.</caption>
      <thead>
        <tr>
          <th scope="col">J</th>
          <th scope="col">l</th>
          <th scope="col">m</th>
          <th scope="col">n</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @photo_params.each do |param| %>
          <tr>
            <td scope="row">J<<%= param[:J] %>></td>
            <td><%== "\\( #{param[:l].gsub(/([0-9.+-]+)[D|E]([0-9+-]+)/, '\1\\times10^{\2}')} \\)" %></td>
            <td><%= param[:m] %></td>
            <td><%= param[:n] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<h3>Cross section and quantum yield</h3>
<ul><li> <a href="#Inorganics">Inorganics</a></li>
<li><a href="#Carbonyls">Carbonyls</a></li>
<li><a href="#Peroxides">Organic Peroxides</a></li>
<li><a href="#Nitrates">Organic Nitrates</a></li>
<li><a href="/static/MCM/download/MCMv3.2photolysis.zip">Download all photolysis data (zip file)</a>
</ul>
<div class="row justify-content-center">
  <div class="col-12">
  <table class="table table-striped table-hover caption-top table-bordered">
    <caption>
      <a name="foot1"><sup>&Dagger;</sup> Reactant (MCM) names link to a file containing all the recommended cs and qy text files/calculation spread sheets.</a><br>
      <a name="foot2"><sup>&sect;</sup> All recommended cross sections, many at different wavelength resolutions, are available to download form the MPI-Mainz UV-Vis Spectral Atlas of Gaseous Molecules (<a href="http://www.atmosphere.mpg.de/enid/2295" target="_blank">http://www.atmosphere.mpg.de/enid/2295</a>)  </a><br>
      <a name="foota"><sup>a</sup>Parameter numbers are consistent with those applied in the MCM (e.g. see <a href="http://www.atmos-chem-phys.net/3/161/2003/acp-3-161-2003.html" target="_blank">Saunders et al. (2003)</a>)</a><br>
      <a name="footb"><sup>b</sup>These parameters are also used to define the photolysis rates of a much larger number of related species (see <a href="http://www.atmos-chem-phys.net/3/161/2003/acp-3-161-2003.html" target="_blank">Saunders et al. (2003)</a> and <a href="http://dx.doi.org/10.1016/S1352-2310(96)00105-7" target="_blank">Jenkin et al. (1997)</a>)</a>
    </caption>
      <thead>
      <tr>
      <th>Group</th>
      <th>Reactant<a href="#foot1"><sup>&Dagger;</sup></a></th>
      <th>MCMv3.3.1 designation<a href="#foota"><sup>a</sup></a></th>
      <th>Products</th>
      <th>Absorption Cross-section (&sigmaf;)<a href="#foot2"><sup>&sect;</sup></a></th>
      <th>Quantum Yield (&phi;)<a href="#foot2"><sup>&sect;</sup></a></th>
      <th>Comments</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      
      <tr>
      <td class="photo-table-group" rowspan="6">Inorganics</td>
      <td><%== generate_photolysis_link('O3') %></td>
      <td>(J<sub>1</sub>)<br>
      (J<sub>2</sub>)</td>
      <td> &rarr; O(<sup>1</sup>D) +O<sub>2</sub><br>
      &rarr; O(<sup>3</sup>P) +O<sub>2</sub></td>
      <td><a href="/static/MCM/photolysis/O3/o3_molina86_cs.txt" target="_blank">Molina and Molina (1986)</a>  <a href="http://www.agu.org/journals/jd/v091/iD13/JD091iD13p14501/" target="_blank">link</a><br>
      </td>
      <td> <a href="/static/MCM/photolysis/O3/o3_o1d_matsumi02_qy_298.txt" target="_blank"> Matsumi et al. (2002)</a> <a href="http://www.agu.org/journals/jd/jd0203/2001JD000510/" target="_blank"> link</a><br>
       <a href="/static/MCM/photolysis/O3/o3_o3p_matsumi02_qy_298.txt" target="_blank">Matsumi et al. (2002)</a>  <a href="http://www.agu.org/journals/jd/jd0203/2001JD000510/" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/POx2_O3_hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td><ul><li>T dependent CS defined.</li>
      <li>298 K QYs defined.</li>
      <li>T dependent (O<sup>1</sup>D) QY calculation available <a href="/static/MCM/photolysis/O3/o3_o1d_matsumi02_qy.xls" target="_blank">here</a>.</li></ul></td>
      </tr>
      
      
      <tr>
      <td><%== generate_photolysis_link('H2O2') %></td>
      <td>(J<sub>3</sub>)<br>
      <td> &rarr; OH + OH<br>
      </td>
      <td><a href="/static/MCM/photolysis/H2O2/h2o2_iupac2003_cs_298.txt" target="_blank">Average</a> from:<br>
      Lin et al. (1978)   <a href="http://www.agu.org/journals/gl/v005/i002/GL005i002p00113/" target="_blank">link</a><br>
      Molina and Molina (1981)  <a href="http://dx.doi.org/10.1016/0047-2670(81)85002-2" target="_blank">link</a><br>
      Nicovich and Wine (1988)  <a href="http://www.agu.org/journals/jd/v093/iD03/JD093iD03p02417/" target="_blank">link</a><br>
      Vaghjiani & Ravishankara (1989)  <a href="http://www.agu.org/journals/jd/v094/iD03/JD094iD03p03487/" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/PHOx2_H2O2_hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td> <a href="/static/MCM/photolysis/H2O2/h2o2_iupac2003_cs_298.txt" target="_blank"> Vaghjiani & Ravishankara (1990) </a> <a href="http://jcp.aip.org/resource/1/jcpsa6/v92/i2/p996_s1" target="_blank"> link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/PHOx2_H2O2_hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td><ul><li>QY (J<sub>3</sub>) 1.00 (> 230 nm)</li>
      </ul></td>
      </tr>
      
      
      <tr>
      <td><%== generate_photolysis_link('NO2') %></td>
      <td>(J<sub>4</sub>)<br>
      <td> &rarr; NO + O(<sup>3</sup>P)<br>
      </td>
      <td><a href="/static/MCM/photolysis/NO2/no2_iupac03_cs_298.txt" target="_blank">Average</a> from:<br>
      Merienne et al. (1995)     <a href="http://www.springerlink.com/content/u681430537qn4817/" target="_blank">link</a><br>
      Coquart et al. (1995)   <a href="http://www.springerlink.com/content/n7r14732mp028584/" target="_blank">link</a><br>
      Jenouvrier et al. (1996)    <a href="http://www.springerlink.com/content/k5871802q238476q/" target="_blank">link</a><br>
      Merienne et al. (1997)    <a href="http://www.springerlink.com/content/n503w671v8713013/" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/PNOx4_NO2.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td> <a href="/static/MCM/photolysis/NO2/no2_iupac03_qy_298.txt" target="_blank">Gardner et al. (1987)</a>  <a href="http://www.agu.org/journals/jd/v092/iD06/JD092iD06p06642/" target="_blank"> link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/PNOx4_NO2.pdf" target="_blank">IUPAC recommended</a></td>
      <td><ul><li>QY corrected by Troe et al. (2000) <a href="http://www.oldenbourg-link.com/doi/abs/10.1524/zpch.2000.214.5.573" target="_blank"> link</a></li>
      </ul></td>
      </tr>

      
      <tr>
      <td><%== generate_photolysis_link('NO3') %></td>
      <td>(J<sub>5</sub>)<br>
      (J<sub>6</sub>)</td>
      <td> &rarr; NO + O<sub>2</sub><br>
      &rarr; NO<sub>2</sub> + O(<sup>3</sup>P)</td>
      <td><a href="/static/MCM/photolysis/NO3/no3_iupac03_cs_298.txt" target="_blank">Sander (1986)</a>  <a href="http://pubs.acs.org/doi/abs/10.1021/j100408a060" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/PNOx5_NO3.pdf" target="_blank">IUPAC recommended</a></td>
      <td> <a href="/static/MCM/photolysis/NO3/no3_no_o2_johnson96_qy_298.txt" target="_blank"> Johnston et al. (1996)</a> <a href="http://pubs.acs.org/doi/abs/10.1021/jp952692x" target="_blank"> link</a><br>
       <a href="/static/MCM/photolysis/NO3/no3_no2_o_johnson96_qy_298.txt" target="_blank">Johnston et al. (1996)</a>  <a href="http://pubs.acs.org/doi/abs/10.1021/jp952692x" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/PNOx5_NO3.pdf" target="_blank">IUPAC recommended</a></td>
      <td><ul><li>QY (J<sub>6</sub>) is 1.00 below 585 nm</li>
      </ul></td>
      </tr>
      
      
      <tr>
      <td><%== generate_photolysis_link('HONO') %></td>
      <td>(J<sub>7</sub>)<br>
      <td> &rarr; NO + OH<br>
      </td>
      <td><a href="/static/MCM/photolysis/HONO/hono_bongartz91_94_cs_298.txt" target="_blank">Bongartz et al. (1991, 1994)</a>
      <a href="http://pubs.acs.org/doi/abs/10.1021/j100156a012" target="_blank">link</a><br>
  <a href="http://www.springerlink.com/content/m82088384t2qh5h2/" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/PNOx1_HONO.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td> <a href="/static/MCM/photolysis/HONO/hono_bongartz91_94_cs_298.txt" target="_blank"> Cox and Derwent (1976-77)</a>  <a href="http://dx.doi.org/10.1016/0047-2670(76)87004-9" target="_blank"> link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/PNOx1_HONO.pdf" target="_blank">IUPAC recommended</a></td>
      <td><ul><li>QY (J<sub>7</sub>) is 1.00 (190 to 400 nm)</li>
      </ul></td>
      </tr>
      
      
      <tr>
      <td><%== generate_photolysis_link('HNO3') %></td>
      <td>(J<sub>8</sub>)<br>
      <td> &rarr; NO<sub>2</sub> + OH<br>
      </td>
      <td><a href="/static/MCM/photolysis/HNO3/hno3_burkholder93_cs.txt" target="_blank">Burkholder et al. (1993)</a>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/PNOx2_HONO2.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td> <a href="/static/MCM/photolysis/HNO3/hno3_burkholder93_cs.txt" target="_blank"> Turnipseed et al. (1991)</a> <a href="http://jcp.aip.org/resource/1/jcpsa6/v95/i5/p3244_s1" target="_blank"> link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/PNOx2_HONO2.pdf" target="_blank">IUPAC recommended</a></td>
      <td><ul><li>T dependent CS defined.</li>
      <li>QY (J<sub>8</sub>) is 1.00 (&gt; 248 nm)</li>
      </ul></td>
      </tr>
      
      <tr>
      <td class="photo-table-group" rowspan="13">Carbonyls</td>
      <td><%== generate_photolysis_link('HCHO') %></td>
      <td>(J<sub>11</sub>)<br>
      (J<sub>12</sub>)</td>
      <td> &rarr; H + HCO<br>
      &rarr; H<sub>2</sub> + CO</td>
      <td><a href="/static/MCM/photolysis\HCHO\hcho_meller00_cs.txt" target="_blank">Meller and Moortgat (2000)</a>  <a href="http://www.agu.org/journals/jd/v105/iD06/1999JD901074/" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P1_HCHO+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td>(J<sub>11</sub>) <a href="/static/MCM/photolysis/HCHO/hcho_iupac03_h_hco_qy_298.txt" target="_blank"> Smith et al. (2002)</a> <a href="http://pubs.acs.org/doi/full/10.1021/jp013180n" target="_blank"> link</a><br>
      (J<sub>12</sub>)  <a href="/static/MCM/photolysis/HCHO/hcho_iupac03_h2_co_qy_298.txt" target="_blank">Moortgat et al. (1983)</a>  <a href="http://jcp.aip.org/resource/1/jcpsa6/v78/i3/p1185_s1" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P1_HCHO+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td><ul><li>Temperature dependent CS.</li>
      <li>(J<sub>12</sub>) QYs are p and T dependent &gt; 330 nm.</li></ul></td>
      </tr>
      
      
      <tr>
      <td><%== generate_photolysis_link('CH3CHO') %></td>
      <td>(J<sub>13</sub>)</td>
      <td> &rarr; CH<sub>3</sub> + HCO</td>
      <td><a href="/static/MCM/photolysis/CH3CHO/ch3cho_iupac03_cs_298.txt" target="_blank">Martinez et al. (1992)</a>  <a href="http://dx.doi.org/10.1016/0960-1686(92)90238-G" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P2_CH3CHO+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td> <a href="/static/MCM/photolysis/CH3CHO/ch3cho_iupac03_qy_298.txt" target="_blank"> Meyrahn et al. (1982)</a> <br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P2_CH3CHO+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td><ul><li>Only the radical channel (J<sub>13</sub>) is important &gt; 290 nm.</li>
      </ul></td>
      </tr>
      
      
      <tr>
      <td><%== generate_photolysis_link('C2H5CHO') %></td>
      <td>(J<sub>14</sub>)</td>
      <td> &rarr; C<sub>2</sub>H<sub>5</sub> + HCO</td>
      <td><a href="/static/MCM/photolysis/C2H5CHO/c2h5cho_iupac03_cs_298.txt" target="_blank">Martinez et al. (1992)</a>  <a href="http://dx.doi.org/10.1016/0960-1686(92)90238-G" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P3_C2H5CHO+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td> <a href="/static/MCM/photolysis/C2H5CHO/c2h5cho_chen&zhu01_qy_298.txt" target="_blank"> Chen and Zhu (2001)</a> <a href="http://pubs.acs.org/doi/full/10.1021/jp011445s" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P3_C2H5CHO+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td><ul><li>(J<sub>14</sub>) p dependent QYs calculation available <a href="/static/MCM/photolysis/C2H5CHO/c2h5cho_chen&zhu01_qy_298.xls" target="_blank">here</a>.</li>
      <li>IUPAC discusses QY but cannot recommend values.</li>
      </ul></td>
          </tr>
          
          
      <tr>
      <td><%== generate_photolysis_link('C3H7CHO') %></td>
      <td>(J<sub>15</sub>)<a href="#footb"><sup>b</sup></a><br>
      (J<sub>16</sub>)</td>
      <td> &rarr; <i>n</i>-C<sub>3</sub>H<sub>7</sub> + HCO<br>
      &rarr; C<sub>2</sub>H<sub>4</sub> + CH<sub>3</sub>CHO</td>
      <td><a href="/static/MCM/photolysis/n_C3H7CHO/n_c3h7cho_iupac05_cs_qy_298.txt" target="_blank">Martinez et al. (1992)</a>  <a href="http://dx.doi.org/10.1016/0960-1686(92)90238-G" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P11_nC3H7CHO+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td>(J<sub>15</sub>) <a href="/static/MCM/photolysis/n_C3H7CHO/n_c3h7cho_iupac05_cs_qy_298.txt" target="_blank"> Tadic et al. (2001)</a> <a href="http://dx.doi.org/10.1016/S1010-6030(01)00524-X" target="_blank"> link</a><br>
      (J<sub>16</sub>)  <a href="/static/MCM/photolysis/n_C3H7CHO/n_c3h7cho_iupac05_cs_qy_298.txt" target="_blank">Tadic et al. (2001)</a>  <a href="http://dx.doi.org/10.1016/S1010-6030(01)00524-X" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P11_nC3H7CHO+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td><ul><li>QY (J<sub>15</sub>) 0.21 (290 to 380 nm)</li>
      <li>QY (J<sub>16</sub>) 0.10 (290 to 380 nm)</li></ul></td>
      </tr>
      
      
      <tr>
      <td><%== generate_photolysis_link('IPRCHO') %></td>
      <td>(J<sub>17</sub>)<a href="#footb"><sup>b</sup></a></td>
      <td> &rarr; <i>n</i>-C<sub>4</sub>H<sub>9</sub> + HCO</td>
      <td><a href="/static/MCM/photolysis/i_C3H7CHO/i-c3h7cho_martinez92_cs_298.txt" target="_blank">Martinez et al. (1992)</a>  <a href="http://dx.doi.org/10.1016/0960-1686(92)90238-G" target="_blank">link</a><br>
      </td>
      <td> <a href="/static/MCM/photolysis/i_C3H7CHO/i_c3h7cho_chen02_hco%20_qy_298.txt" target="_blank"> Chen et al. (2002)</a> <a href="http://pubs.acs.org/doi/full/10.1021/jp014544e" target="_blank">link</a><br>
      </td>
      <td> &nbsp;</td>
          </tr>
          
          
      <tr>
      <td><%== generate_photolysis_link('MACR') %></td>
      <td>(J<sub>18</sub>)<a href="#footb"><sup>b</sup></a><br>
      (J<sub>19</sub>)<a href="#footb"><sup>b</sup></a></td>
      <td> &rarr; CH<sub>2</sub>=CCH<sub>3</sub> + HCO<br>
      &rarr; CH<sub>2</sub>=C(CH<sub>3</sub>)CO  + H</td>
      <td><a href="/static/MCM/photolysis/MACR/macr_iupac05_cs_qy_298.txt" target="_blank">Gierczak et al. (1997)</a>  <a href="http://dx.doi.org/10.1016/S1010-6030(97)00159-7" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P9_CH2C(CH3)CHO+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td>Average from:<br>
      <a href="/static/MCM/photolysis/MACR/macr_iupac05_cs_qy_298.txt" target="_blank"> Carter (2000)</a> <br>
       <a href="/static/MCM/photolysis/MACR/macr_iupac05_cs_qy_298.txt" target="_blank">Moortgat et al. (2000) </a>  <br>
       <a href="/static/MCM/photolysis/MACR/macr_iupac05_cs_qy_298.txt" target="_blank">Pinho et al. (2005)</a>  <a href="http://dx.doi.org/10.1016/j.atmosenv.2004.11.014" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P9_CH2C(CH3)CHO+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td><ul><li>QY (J<sub>18</sub>) 1.95E-3 </li>
      <li>QY (J<sub>19</sub>) 1.95E-3 </li>
      <li>See Pinho et al. (2005) <a href="http://dx.doi.org/10.1016/j.atmosenv.2004.11.014" target="_blank">link</a> for details</li></ul></td>
      </tr>
      
      <tr>
      <td><%== generate_photolysis_link('C5HPALD1') %></td>
      <td>(J<sub>20</sub>)</td>
      <td> &rarr; CH<sub>3</sub>C(CHO)=CHCH<sub>2</sub>O + OH
      </td>
      <td><a href="/static/MCM/photolysis/C5HPALD/C5HPALD_cs_qy_298.txt" target="_blank">Gierczak et al. (1997)</a>  <a href="http://dx.doi.org/10.1016/S1010-6030(97)00159-7" target="_blank">link</a><br>
      </td>
      <td> <a href="/static/MCM/photolysis/C5HPALD/C5HPALD_cs_qy_298.txt" target="_blank">&phi; = 1.00 </a>  <br>
      </td>
      <td><ul><li>A value of QY = 1.0 is assumed over the relevant wavelength range, based on information provided by <a href="http://dx.doi.org/10.1039/B908511D" target="_blank">Peeters et al. (2009)</a></li></ul></td> 
          </tr>
      
      <tr>
      <td><%== generate_photolysis_link('CH3COCH3') %></td>
      <td>(J<sub>21</sub>)</td>
      <td> &rarr; CH<sub>3</sub>CO + CH<sub>3</sub></td>
      <td><a href="/static/MCM/photolysis/CH3COCH3/ch3coch3_iupac05_cs.txt" target="_blank">Gierczak et al. (1998)</a>  <a href="http://dx.doi.org/10.1016/S0301-0104(98)00006-8" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P7_CH3COCH3+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td> <a href="/static/MCM/photolysis/CH3COCH3/ch3coch3_iupac05_qy_298.txt" target="_blank"> Blitz et al. (2004)</a> <a href="http://www.agu.org/journals/gl/gl0406/2003GL018793/" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P7_CH3COCH3+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td><ul><li>T dependent CS defined.</li>
      <li>298 K CS available <a href="/static/MCM/photolysis/CH3COCH3/ch3coch3_iupac05_cs_298.txt" target="_blank">here</a>(calculation <a href="/static/MCM/photolysis/CH3COCH3/ch3coch3_iupac05_cs.xls" target="_blank">here</a>). </li>
      <li>1 bar and 298 K QY defined.</li>
      <li>T and p dependent QY calculation available <a href="/static/MCM/photolysis/CH3COCH3/ch3coch3_iupac05_qy.xls" target="_blank">here</a>.</li>
      <li>Only channel (J<sub>21</sub>) currently defined in MCMv3.2.  </li></ul></td> 
          </tr>
      
      
      <tr>
      <td><%== generate_photolysis_link('MEK') %></td>
      <td>(J<sub>22</sub>)<a href="#footb"><sup>b</sup></a></td>
      <td> &rarr; CH<sub>3</sub>CO + C<sub>2</sub>H<sub>5</sub></td>
      <td><a href="/static/MCM/photolysis/MEK/ch3coc2h5_iupac05_cs_qy_298.txt" target="_blank">Martinez et al. (1992)</a>  <a href="http://dx.doi.org/10.1016/0960-1686(92)90238-G" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P8_CH3COC2H5+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td> <a href="/static/MCM/photolysis/MEK/ch3coc2h5_iupac05_cs_qy_298.txt" target="_blank">Pinho et al. (2005)</a>   <a href="http://dx.doi.org/10.1016/j.atmosenv.2004.11.014" target="_blank">link</a><br>
      </td>
      <td><ul><li>QY (J<sub>22</sub>) 0.16 (275 to 380 nm)</li>
      <li>298 K CS available <a href="/static/MCM/photolysis/CH3COCH3/ch3coch3_iupac05_cs_298.txt" target="_blank">here</a>(calculation <a href="/static/MCM/photolysis/CH3COCH3/ch3coch3_iupac05_cs.xls" target="_blank">here</a>). </li>
      <li>Average of the optimised QY used in the evaluation of the MCM and SAPRC-99 using chamber data (see Pinho et al. (2005) <a href="http://dx.doi.org/10.1016/j.atmosenv.2004.11.014" target="_blank">link</a> for details)</li>
      </ul></td> 
          </tr>
      
      
      <tr>
      <td><%== generate_photolysis_link('MVK') %></td>
      <td>(J<sub>23</sub>)<br>
      (J<sub>24</sub>)<a href="#footb"><sup>b</sup></a></td>
      <td> &rarr; CH<sub>3</sub>CH=CH<sub>2</sub> + CO<br>
      &rarr; CH<sub>3</sub>CO + CH<sub>2</sub>=CH</td>
      <td><a href="/static/MCM/photolysis/MVK/mvk_iupac05_cs_298.txt" target="_blank">Gierczak et al. (1997)</a>  <a href="http://dx.doi.org/10.1016/S1010-6030(97)00159-7" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P10_CH3C(O)CHCH2+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td><a href="/static/MCM/photolysis/MVK/mvk_iupac05_qy_298.txt" target="_blank">Gierczak et al. (1997)</a>  <a href="http://dx.doi.org/10.1016/S1010-6030(97)00159-7" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P10_CH3C(O)CHCH2+hv.pdf" target="_blank">IUPAC recommended</a></td>
      <td><ul><li>Atmospheric pressure QYs defined (1 bar). </li>
      <li>p dependent QY calculation available <a href="/static/MCM/photolysis/MVK/mvk_iupac05_qy_298.xls" target="_blank">here.</a> </li>
      </ul></td>
      </tr>
      
      
      <tr>
      <td><%== generate_photolysis_link('GLYOX') %></td>
      <td>(J<sub>31</sub>)<br>
      (J<sub>32</sub>)<br>
      (J<sub>33</sub>)</td>
      <td> &rarr; CO + CO + H<sub>2</sub><br>
      &rarr; HCHO + CO<br>
      &rarr; HCO + HCO</td>
      <td><a href="/static/MCM/photolysis/CHOCHO/chocho_volkamer05_cs_298.txt" target="_blank">Volkamer et al. (2005)</a>  <a href="http://dx.doi.org/10.1016/j.jphotochem.2004.11.011" target="_blank">link</a><br>
      </td>
      <td><a href="/static/MCM/photolysis/CHOCHO/chocho_tadic06_qy_298.txt" target="_blank">Tadic et al. (2006)</a>  <a href="http://dx.doi.org/10.1016/j.jphotochem.2005.10.010" target="_blank">link</a><br>
      </td>
      <td><ul><li>Recommended CS are within in 5 % of the <a href="http://www.iupac-kinetic.ch.cam.ac.uk/datasheets/pdf/P4_(CHO)2+hv.pdf" target="_blank">IUPAC recommended</a> CS of Horowitz et al. (2001) <a href="http://dx.doi.org/10.1016/S1010-6030(01)00601-3" target="_blank">link</a>.</li>
          </ul></td>
      </tr>

      
      <tr>
      <td><%== generate_photolysis_link('MGLYOX') %></td>
      <td>(J<sub>34</sub>)<a href="#footb"><sup>b</sup></a></td>
      <td> &rarr; CH<sub>3</sub>CO + HCO</td>
      <td><a href="/static/MCM/photolysis/CH3COCHO/ch3cocho_jpl_iupac05_cs_298.txt" target="_blank">Combination of:</a> <br>
      Staffelbach et al. (1995)   <a href="http://www.agu.org/journals/jd/v100/iD07/95JD00541/" target="_blank">link</a><br>
      Meller et al. (1991)  	<a href="http://dx.doi.org/10.1016/1010-6030(91)87017-P" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P6_CH3COCHO+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td> <a href="/static/MCM/photolysis/CH3COCHO/ch3cocho_iupac05_qy_298.txt" target="_blank">Chen et al. (2000) </a>   <a href="http://pubs.acs.org/doi/abs/10.1021/jp002262t" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P6_CH3COCHO+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td><ul><li>p dependent QY calculation available <a href="/static/MCM/photolysis/CH3COCHO/ch3cocho_iupac05_qy_298.xls" target="_blank">here</a>.</li>
      <li>Zero and 760 Torr QY data in reasonable agreement with Koch and Moortgat (1998) <a href="http://pubs.acs.org/doi/abs/10.1021/jp981915r" target="_blank">link</a>.</li>
      </ul></td> 
          </tr>

          
      <tr>
      <td><%== generate_photolysis_link('BIACET') %></td>
      <td>(J<sub>35</sub>)<a href="#footb"><sup>b</sup></a></td>
      <td> &rarr; CH<sub>3</sub>CO + CH<sub>3</sub>CO</td>
      <td><a href="/static/MCM/photolysis/BIACET/biacet_horowitz01_cs_plum83_qy_298.txt" target="_blank"> 
      Horowitz et al. (2001) </a>  <a href="http://dx.doi.org/10.1016/S1010-6030(01)00601-3" target="_blank">link</a>
      </td>
      <td> <a href="/static/MCM/photolysis/BIACET/biacet_horowitz01_cs_plum83_qy_298.txt" target="_blank">Plum et al. (1983) </a>   <a href="http://pubs.acs.org/doi/abs/10.1021/es00114a008" target="_blank">link</a><br>
      </td>
      <td><ul><li>QY (J<sub>35</sub>) 0.158 (290 to 460 nm)</li>
      </ul></td> 
      </tr>
      
      <tr>
      <td class="photo-table-group" rowspan="1">Organic Peroxides</td>
      <td><%== generate_photolysis_link('CH3OOH') %></td>
      <td>(J<sub>41</sub>)<a href="#footb"><sup>b</sup></a></td>
      <td> &rarr; CH<sub>3</sub>O + OH</td>
      <td><a href="/static/MCM/photolysis/CH3OOH/ch3ooh_iupac05_cs_qy_298.txt" target="_blank"> 
      Vaghjiani & Ravishankara (1989)</a>  <a href="http://www.agu.org/journals/jd/v094/iD03/JD094iD03p03487/" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P12_CH3OOH+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td> <a href="/static/MCM/photolysis/CH3OOH/ch3ooh_iupac05_cs_qy_298.txt" target="_blank">Vaghjiani & Ravishankara (1990)</a>   <a href="http://jcp.aip.org/resource/1/jcpsa6/v92/i2/p996_s1" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P12_CH3OOH+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td><ul><li>QY (J<sub>41</sub>) 1.00 (&gt; 290 nm)</li>
      </ul></td> 
      </tr>
          
      <tr>
      <td class="photo-table-group" rowspan="6">Organic Nitrates</td>
      <td><%== generate_photolysis_link('CH3NO3') %></td>
      <td>(J<sub>51</sub>)</td>
      <td> &rarr; CH<sub>3</sub>O + NO<sub>2</sub></td>
      <td><a href="/static/MCM/photolysis/CH3ONO2/ch3ono2_iupac05_cs_qy.txt" target="_blank">Average</a> from: <br>
      Roberts and Fajer (1989)   <a href="http://pubs.acs.org/doi/abs/10.1021/es00066a003" target="_blank">link</a><br>
      Rattigan et al. (1992)   	<a href="http://dx.doi.org/10.1016/1010-6030(92)85269-Z" target="_blank">link</a><br>
      Talukdar et al. (1997)    <a href="http://pubs.rsc.org/en/Content/ArticleLanding/1997/FT/A701780D" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P14_CH3ONO2+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td> <a href="/static/MCM/photolysis/CH3ONO2/ch3ono2_iupac05_cs_qy.txt" target="_blank">Talukdar et al. (1997)</a>   <a href="http://pubs.rsc.org/en/Content/ArticleLanding/1997/FT/A701780D" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P14_CH3ONO2+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td><ul><li>T dependent CS defined</li>
      <li>QY (J<sub>51</sub>) 1.00 (&gt; 248 nm)</li>
      </ul></td> 
          </tr>

          
      <tr>
      <td><%== generate_photolysis_link('C2H5NO3') %></td>
      <td>(J<sub>52</sub>)</td>
      <td> &rarr; C<sub>2</sub>H<sub>5</sub>O +  NO<sub>2</sub></td>
      <td><a href="/static/MCM/photolysis/CH3CH2ONO2/ch3ch2ono2_iupac05_cs_qy.txt" target="_blank">Average</a> from: <br>
      Zhu and Ding (1997)   <a href="http://dx.doi.org/10.1016/S0009-2614(96)01404-2" target="_blank">link</a><br>
      Clemitshaw et al. (1997)     	<a href="http://dx.doi.org/10.1016/S1010-6030(96)04458-9" target="_blank">link</a><br>
      Talukdar et al. (1997)    <a href="http://pubs.rsc.org/en/Content/ArticleLanding/1997/FT/A701780D" target="_blank">link</a><br>
      Turberg et al. (1990)      <a href="http://dx.doi.org/10.1016/1010-6030(90)87063-H" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P15_C2H5ONO2+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
          <td> <a href="/static/MCM/photolysis/CH3CH2ONO2/ch3ch2ono2_iupac05_cs_qy.txt" target="_blank">Zhu and Ding (1997)</a>   <a href="http://dx.doi.org/10.1016/S0009-2614(96)01404-2" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P15_C2H5ONO2+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td><ul><li>298 K CS taken from Turberg et al. (1990)  <a href="http://dx.doi.org/10.1016/1010-6030(90)87063-H" target="_blank">link</a></li>
      <li>T dependent average defined</li>
      <li>QY (J<sub>52</sub>) 1.00 (290 to 340 nm)</li>
      </ul></td> 
          </tr>

          
      <tr>
      <td><%== generate_photolysis_link('NC3H7NO3') %></td>
      <td>(J<sub>53</sub>)<a href="#footb"><sup>b</sup></a></td>
      <td> &rarr; <i>n</i>-C<sub>3</sub>H<sub>7</sub>O + NO<sub>2</sub></td>
      <td><a href="/static/MCM/photolysis/n_C3H7ONO2/n_c3h7ono2_iupac05_cs_298.txt" target="_blank">Average</a> from: <br>
      Roberts and Fajer (1989)     <a href="http://pubs.acs.org/doi/abs/10.1021/es00066a003" target="_blank">link</a><br>
      Turberg et al. (1990)      	<a href="http://dx.doi.org/10.1016/1010-6030(90)87063-H" target="_blank">link</a><br>
      Clemitshaw et al. (1997)    <a href="http://dx.doi.org/10.1016/S1010-6030(96)04458-9" target="_blank">link</a><br>
      Talukdar et al. (1997)       <a href="http://pubs.rsc.org/en/Content/ArticleLanding/1997/FT/A701780D" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P16_n-C3H7ONO2+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
          <td> <a href="/static/MCM/photolysis/n_C3H7ONO2/n_c3h7ono2_iupac05_cs_298.txt" target="_blank">&phi; = 1.00</a>   <br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P16_n-C3H7ONO2+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td><ul><li>No data on either the photo-products or the quantum yields.</li>
      <li>QY based on data for ethyl and methyl nitrate (see IUPAC recommendations).</li>
      </ul></td> 
          </tr>
      
      
      <tr>
      <td><%== generate_photolysis_link('IC3H7NO3') %></td>
      <td>(J<sub>54</sub>)<a href="#footb"><sup>b</sup></a></td>
      <td> &rarr; CH<sub>3</sub>C(O.)CH<sub>3</sub> + NO<sub>2</sub></td>
      <td><a href="/static/MCM/photolysis/i_C3H7ONO2/i_c3h7ono2_iupac05_cs.txt" target="_blank">Average</a> from: <br>
      Roberts and Fajer (1989)     <a href="http://pubs.acs.org/doi/abs/10.1021/es00066a003" target="_blank">link</a><br>
      Turberg et al. (1990)      	<a href="http://dx.doi.org/10.1016/1010-6030(90)87063-H" target="_blank">link</a><br>
      Clemitshaw et al. (1997)    <a href="http://dx.doi.org/10.1016/S1010-6030(96)04458-9" target="_blank">link</a><br>
      Talukdar et al. (1997)       <a href="http://pubs.rsc.org/en/Content/ArticleLanding/1997/FT/A701780D" target="_blank">link</a><br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P17_i-C3H7ONO2+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
          <td> <a href="/static/MCM/photolysis/i_C3H7ONO2/i_c3h7ono2_iupac05_cs.txt" target="_blank">&phi; = 1.00</a>   <br>
      <a href="http://iupac.pole-ether.fr/htdocs/datasheets/pdf/P17_i-C3H7ONO2+hv.pdf" target="_blank">IUPAC recommended</a>
      </td>
      <td><ul><li>T dependent CS defined.</li>
      <li>No data on either the photo-products or the quantum yields.</li>
      <li>QY based on data for ethyl and methyl nitrate (see IUPAC recommendations).</li>
      </ul></td> 
          </tr>

          
      <tr>
      <td><%== generate_photolysis_link('TC4H9NO3') %></td>
      <td>(J<sub>55</sub>)<a href="#footb"><sup>b</sup></a></td>
      <td> &rarr;  <i>t</i>-C<sub>4</sub>H<sub>9</sub>O + NO<sub>2</sub></td>
      <td><a href="/static/MCM/photolysis/t_C4H9ONO2/t_c4h9ono2_Roberts&Fajar89_cs_298.txt" target="_blank">Roberts and Fajer (1989)</a>  <a href="http://pubs.acs.org/doi/abs/10.1021/es00066a003" target="_blank">link</a><br>
      </td>
          <td> <a href="/static/MCM/photolysis/t_C4H9ONO2/t_c4h9ono2_Roberts&Fajar89_cs_298.txt" target="_blank">&phi; = 1.00</a>   <br>
      </td>
      <td><ul><li>298 K CS wavelength dependent parameterisation available.</li>
      <li>QY assumed to be unity.</li>
          </ul></td> 
              </tr>
      
      
      <tr>
      <td><%== generate_photolysis_link('NOA') %></td>
      <td>(J<sub>56</sub>)<a href="#footb"><sup>b</sup></a><br>
      </td>
      <td> &rarr; CH<sub>3</sub>C(O)CH<sub>2</sub>(O.) + NO<sub>2</sub><br>
      &rarr; CH<sub>3</sub>CO + HCHO + NO<sub>2</sub></td>
      <td><a href="/static/MCM/photolysis/NOA/NOA_cs_qy_298.txt" target="_blank">Average</a> from: <br>
      Roberts and Fajer (1989)     <a href="http://pubs.acs.org/doi/abs/10.1021/es00066a003" target="_blank">link</a><br>
      Barnes et al. (1993)      	<a href="http://www.springerlink.com/content/qv5854h151164w22/" target="_blank">link</a><br>
      </td>
          <td> <a href="/static/MCM/photolysis/NOA/NOA_cs_qy_298.txt" target="_blank">&phi; = 0.9</a>   <br>
      </td>
      <td><ul><li>298 K CS wavelength dependent parameterisations available.</li>
      <li>QY of 0.9 is assumed over the relevant wavelength range based on information provided by <a href="http://dx.doi.org/10.5194/acp-14-2497-2014" target="_blank">Mueller et al. (2014)</a>, informed by <a href="http://dx.doi.org/10.1021/es302613x" target="_blank">Suarez-Bertoa et al. (2012) </a></li>
      </ul></td> 
      </tr>	
      </tbody>
</table>
</div>
</div>
