<h1><%= @species[:Name] %></h1>
<form method="post" action="/add_marklist/<%= @species[:Name] %>">
  <input class="btn btn-primary" type="submit" value="Add to Mark list"/>
</form>
<br>
<br>

<div class="card" style="width: 60rem;">
  <div class="card-header">
    Species information
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Smiles: <%= @species[:Smiles] %></li>
    <li class="list-group-item">InChI: <%= @species[:Inchi] %></li>
    <li class="list-group-item">Mass: <%= @species[:Mass] %></li>
  </ul>
</div>

<br>

<h3>Sink Reactions</h2>
<ul>
<% @sink_rxns.each do |reaction| %>
  <li> 
    <%== display_reaction(reaction, @species[:Name]) %>
  </li>
<% end %>
</ul>

<br>

<h3>Precursor Reactions</h2>

<br>
