<div class="d-flex flex-row flex-nowrap align-items-center">
  <h1 class="species-title"><%= @species[:Name] %></h1>
  <% if @marklist.include? @species[:Name] %>
    <button class="btn btn-danger btn-sm btn-marklist" id="ml-add-<%= @species[:Name] %>" onclick="removeFromMarklist('<%= @species[:Name] %>')">
      -
    </button>
  <% else %>
    <button class="btn btn-success btn-sm btn-marklist" id="ml-add-<%= @species[:Name] %>" onclick="addToMarklist('<%= @species[:Name] %>')">
      +
    </button>
  <% end %>
</div>

<div class="card species-card">
  <div class="card-header">
    Species information
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Smiles: <%= @species[:Smiles] %></li>
    <li class="list-group-item">InChI: <%= @species[:Inchi] %></li>
    <li class="list-group-item">Mass: <%= @species[:Mass] %></li>
    <li class="list-group-item">Synonyms: <%= @synonyms%></li>
    <li class="list-group-item">
      External links:
      <a href="http://www.google.com/search?q=<%= @species[:Inchi] %>">Google</a>,
      <a href="http://www.chemspider.com/Search.aspx?q=<%= @species[:Inchi] %>">ChemSpider</a>,
      <a href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=pccompound&term="<%= @species[:Inchi] %>"[inchi]'>PubChem</a>,
      <a href="http://webbook.nist.gov/cgi/cbook.cgi?Name=<%= @species[:Inchi] %>">NIST WebBook</a>,
      <a href="https://iupac.aeris-data.fr/search/">IUPAC</a>,
      <a href="http://www.ebi.ac.uk/chebi/advancedSearchFT.do?searchString=<%= @species[:Inchi] %>">ChEBI</a>
    </li>
  </ul>

</div>

<h3 class="rxn-title">Sink Reactions</h3>
<div class="rxn-grid">
<% @sink_rxns.each do |reaction| %>
  <%== display_reaction(reaction, @species[:Name]) %>
<% end %>
</div>


<h3 class="rxn-title">Precursor Reactions</h3>
<% for i in 1..@precursor_num_pages do %>
  <div id="page-<%= i %>" <%= i > 1 ? 'hidden' : ''%> class="rxn-grid">
    <% @precursor_rxns[((i-1)*@precursor_page_size)..(i*@precursor_page_size-1)].each do |reaction| %>
      <%== display_reaction(reaction, @species[:Name]) %>
    <% end %>
  </div>
<% end %>


<nav aria-label="...">
  <ul class="pagination justify-content-center" id="precursor-pagination-nav">
  </ul>
</nav>

<% if @precursor_num_pages > 1 %>
<script>
  populateNav(1, <%= @precursor_num_pages %>, 2);
</script>
<% end %>
